<div class="fixed-load" [hidden]="!loading">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<div class="dashboard-container">
  <div class="dash-top">
    <h3 class="dash-title">Dashboard</h3>
    <button type="button"(click)="logout()" name="button"><i class="material-icons" >exit_to_app</i></button>
  </div>
  <div class="dash-sm-boxes">
    <div class="dash-inner-container">
      <div class="dash-sm-box no-margin-left">
        <div class="sm-box-left">
          <div class="circle background-blue">
          <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="sm-box-right">
          <h4>{{totalMsg}}</h4>
          <p>Total mails</p>
        </div>
      </div>
      <div class="dash-sm-box">
        <div class="sm-box-left">
          <div class="circle background-pink">
          <i class="material-icons">email</i>
          </div>
        </div>
        <div class="sm-box-right">
          <h4>{{totalUnread}}</h4>
          <p>Unread mails</p>
        </div>
      </div>
    </div>
    <div class="dash-inner-container">
      <div class="dash-sm-box">
        <div class="sm-box-left">
          <div class="circle background-orange">
          <i class="material-icons">drafts</i>
          </div>
        </div>
        <div class="sm-box-right">
          <h4>{{totalRead}}</h4>
          <p>Read mails</p>
        </div>
      </div>
      <div class="dash-sm-box">
        <div class="sm-box-left">
          <div class="circle background-purple">
          <i class="material-icons">bookmark</i>
          </div>
        </div>
        <div class="sm-box-right">
          <h4>{{totalBookmark}}</h4>
          <p>Bookmarks</p>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-center-boxes">
    <div class="inbox-box">
      <div class="inbox-top">
        <h4 *ngIf="currentlyOpen.length == 0">Messages</h4>
        <h4><i class="material-icons" (click)="closeMessage()" *ngIf="currentlyOpen.length > 0">arrow_back</i></h4>
        <select [(ngModel)]="getType" (change)="getMessages(1)" [disabled]="currentlyOpen.length > 0">
          <option value="all">All</option>
          <option value="unread">Unread</option>
          <option value="read">Read</option>
        </select>
      </div>
      <div class="message-viewer-container">
        <div class="message-show">
          <div class="full-message-container" [ngClass]="{'active':currentlyOpen.length > 0}">
            <div class="sender-data" *ngIf="currentlyOpen.length > 0" >
              <h4>{{currentlyOpen[0].fullname}}</h4>
              <p>{{currentlyOpen[0].created_at}}</p>
            </div>
            <div class="parag-message" *ngIf="currentlyOpen.length > 0">
              <p>{{currentlyOpen[0].message}}</p>
            </div>
            <div class="full-message-footer">
              <div class="msg-footer-left" *ngIf="currentlyOpen.length > 0">
                <p>{{currentlyOpen[0].budget}}</p>
                <p><span class="bold">{{currentlyOpen[0].email}}</span></p>
              </div>
              <div class="msg-footer-right">
                <i class="material-icons" *ngIf="bookmarked == false" (click)="addToBookMarks(currentlyOpen[0].id)">bookmark_border</i>
                <i class="material-icons" *ngIf="bookmarked == true" (click)="removeFromBookMarks(currentlyOpen[0].id)">bookmark</i>
              </div>
            </div>
          </div>
        </div>
        <div class="messages-table" [ngClass]="{'active':currentlyOpen.length > 0}">
          <table class="table-list" *ngIf="inboxList.length>0">
            <tr *ngFor="let message of inboxList;index as i">
              <td>
                <div class="sender-container">
                  <i class="material-icons sender-box">person</i>
                  <div>
                    <p class="custom-name">{{message.fullname}}</p>
                    <p class="custom-email">{{message.email}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="msg-mark">
                  <i class="material-icons">mail</i>
                  <p class="time">{{message.created_at}}</p>
                </div>
              </td>
              <td class="message-opener" [ngClass]="{'color-blue':message.read!=0}">
                <i (click)="openMessage(message.id,i)" class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
          <p *ngIf="inboxList.length == 0" class="no-result-label">No results found</p>
          <div class="load-more" (click)="getMessages(currentpage+1)" *ngIf="nextPageUrl != null && currentlyOpen.length == 0">
            More...
          </div>
        </div>
      </div>
    </div>
    <div class="loyal-customers-container">
      <div class="loyal-top">
        <h4>Bookmarks</h4>
        <i class="material-icons">more_horiz</i>
      </div>
      <div class="employee-list">
        <ul>
          <li *ngFor="let bookline of bookMarkList" (click)="openMessage(bookline.id,null)">
            <i class="material-icons">mail</i>
            <div class="cus-data">
              <p class="cus-name">{{bookline.fullname}}</p>
              <p class="cus-mail">{{bookline.email}}</p>
            </div>
            <p class="cus-time">{{bookline.created_at}}</p>
          </li>
          <p class="load-more" (click)="displayBookMarks(bookCurrentPage+1)" *ngIf="bookNextUrl != null">More...</p>
        </ul>
      </div>
    </div>
  </div>
</div>
