.dashboard-container
{
  padding: 25px;
}
@media (max-width:500px)
{
  .dashboard-container
  {
    padding:25px 15px;
  }
}
.dash-title
{
  font-size: 25px;
  font-weight: 600;
  color: #343434;
}
.dash-top
{
  display: flex;
  justify-content: space-between;
}
.dash-top button
{
  margin-right: 50px;
  cursor: pointer;
  border-style: none;
  background: transparent;
}
.dash-sm-boxes
{
  display: flex;
  justify-content:space-between;
  padding:25px 0px;
}
@media (max-width:730px)
{
  .dash-inner-container:first-child
  {
    margin-bottom: 25px;
  }
  .dash-sm-boxes
  {
    flex-direction: column;
  }
  .dash-inner-container .dash-sm-box:first-child
  {
    margin-left: 0px;
  }
}
.no-margin-left
{
  margin-left: 0px!important;
}
.dash-sm-box
{
  background-color:#fff;
  flex:1;
  margin-left: 20px;
  display: flex;
  padding:10px 10px 10px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.dash-inner-container
{
  flex:1;
  display: flex;
}
@media (max-width:1150px)
{
  .dash-sm-box
  {
    flex-direction: column-reverse;
    padding:10px 10px 10px 10px;
  }
}
.dash-center-boxes
{
  display: flex;
}
.inbox-box
{
  flex:2;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  margin-right: 30px;
  padding:25px;
}
@media (max-width:1292px)
{
  .dash-center-boxes
  {
    flex-direction: column;
  }
  .inbox-box
  {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
.inbox-box h4
{
  font-size: 20px;
}
.inbox-top
{
  display: flex;
  justify-content:space-between;
}
.inbox-top h4 i
{
  cursor: pointer;
}
.inbox-top select
{
  margin-top: 5px;
  border:1px solid #e1e1e1;
  outline-style: none;
  border-radius: 2px;
  color:#444444;
  padding:5px;
}
.loyal-customers-container
{
  padding:25px;
  flex:1;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.sm-box-left
{
  display: flex;
  padding-bottom: 15px;
}
@media (max-width:1150px)
{
  .sm-box-left
  {
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.sm-box-left .circle
{
  padding:5px;
  margin: auto;
  height: 30px;
  width: 30px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  margin-top: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.background-purple
{
  background-color:#9273F4;
}
.background-orange
{
  background-color: #F4A42E;
}
.background-blue
{
  background-color: #1973EF;
}
.background-pink
{
  background:#FB376B;
}
.sm-box-right
{
  flex:1;
  padding-left: 10px;
  padding-top:15px;
}
.sm-box-right h4
{
  font-size:25px;
  margin-bottom: 3px;
}
.dash-sm-box .circle i
{
  color: #fff;
  text-align: center;
  margin-top: 3px;
}
.sm-box-right p
{
  font-size: 14px;
}
@media (max-width:1150px)
{
  .sm-box-right
  {
    padding-left: 0px;
    text-align: center;
  }
  .sm-box-right p
  {
    margin-top: 10px;
  }
}
.messages-table
{
  margin-top: 15px;
  min-height:300px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.table-list
{
  position:relative;
  left: 0;
  transition: left .3s;
}
.messages-table
{
  left: 0;
  transition: left .3s;
}
.messages-table.active
{
  left: -700px;
}
/* width */
.messages-table::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.messages-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.messages-table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
.messages-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.messages-table table
{
  width: 100%;
  height: 100%;
}
.messages-table table .sender-container i
{
  font-size: 34px;
  margin-right: 15px;
  color: #a0a0a0;
  background:#f1f1f1;
  border-radius: 2px;
}
.message-opener
{
  color: #c5c5c5;
  cursor: pointer
}
.color-pink
{
  color: #FB376B;
}
.color-blue
{
  color: #4B21FF;
}
.messages-table table td
{
  padding-bottom: 15px;
  padding-top: 10px;
}
.messages-table table tr
{
  padding:10px 0px;
  border-bottom:1px solid #e9e9e9;
}
.flex
{
  display: flex;
}
.custom-name
{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 4px;
  letter-spacing: .5px;
  color: #343434;
}
.custom-email
{
  font-size: 12px;
  color: #b3b3b3;
}
@media (max-width:375px)
{
  .sender-box
  {
    display: none!important;
  }
}
@media (max-width:487px)
{
  .msg-mark
  {
    display: none!important;
  }
  .cus-time
  {
    display: none!important;
  }
}
.msg-mark p
{
  display: inline-block;
  vertical-align: middle;
}
.msg-mark i
{
    font-size: 16px;
    color: #c0c0c0;
    display: inline-block;
    vertical-align: middle;
}
.budget-title
{
  font-size: 11px;
}
.sender-container i,.sender-container div
{
  display: inline-block
}
.time
{
  font-size: 12px;
  color: #b9b9b9;
}
.load-more:hover
{
  background: #e9e9e9;
}
.load-more
{
  margin-top: 20px;
  font-size: 12px;
  color: #4B21FF;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  background: #f1f1f1;
  padding:5px;
  border-radius: 2px;
  border:1px solid #e0e0e0;
}
.loyal-top
{
  display: flex;
  justify-content: space-between;
}
.loyal-top h4
{
  font-size:19px;
}
.employee-list
{
  margin-top: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}
/* width */
.employee-list::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.employee-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.employee-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
.employee-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.employee-list li:hover i
{
  background: #9273F4;
}
.employee-list li
{
  cursor: pointer;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #e9e9e9;
  justify-content: space-between;
}
.employee-list li i
{
  font-size: 20px;
  border-radius: 50%;
  padding:3px;
  text-align: center;
  padding-top: 6px;
  width: 25px;
  height: 23px;
  background: #b0b0b0;
  color: #fff;
  margin-right: 10px;
}
.cus-name
{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.cus-data
{
  flex:1;
}
.cus-mail
{
  font-size: 12px;
  color: #b0b0b0;
}
.cus-time
{
  font-size: 11px;
  color: #b9b9b9;
}
.sender-data
{
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}
.sender-data p
{
  font-size: 12px;
  margin-top: 5px;
  color: #b9b9b9;
}
.sender-data h4
{
  font-size: 13px;
  font-weight: 600;
}
.parag-message
{
  margin-top: 20px;
  font-size: 14px;
  min-height: 150px;
  letter-spacing: .5px;
  text-indent: 40px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
}
.message-viewer-container
{
  position: relative;
  overflow: hidden;
}
.full-message-footer
{
  margin-top: 30px;
  font-size: 14px;
  padding:10px 0px;
  display: flex;
  justify-content: space-between;
}
.msg-footer-left p
{
  margin-bottom: 5px;
}
.italic
{
  font-style: italic;
}
.bold
{
  font-weight: bold;
}

.full-message-container
{
  margin-top: 30px;
  position:absolute;
  right: -1000px;
  width: 100%;
  transition: right .3s;
}
.full-message-container.active
{
  right: 0;
}
.msg-footer-right i
{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.msg-footer-right i
{
  color:rgba(0, 0, 0, 0.2);
}
.msg-footer-right i:hover
{
  color:#9273F4;
}
.no-result-label
{
  font-size: 15px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 200px;
}
