<div class="latest-works-container">
  <div class="latest-work-wrap">
    <h3 class="big-top-title">LATEST PROJECT</h3>
    <div class="project-images-container container1">
      <div class="images-box box1">
        <div class="project-logo">
          <img src="./assets/images/warehouse.svg" alt="logo">
        </div>
        <div class="text-data">
          <div class="other-detail">
            <p>Client: Boheco-I</p><p>Year: 2018</p>
          </div>
          <div class="project-title">
          WAREHOUSE INVENTORY CONTROL
          </div>
        </div>
      </div>
      <div class="images-box box2">
        <div class="laptop-container">
          <div class="laptop-side">
            <a href="https://warehouseinventorycontrol.herokuapp.com" target="_blank" >
              <div class="laptop-screen">
                <img src="./assets/images/project1.PNG" alt="project">
                <div class="clickable-alert">
                  <i class="material-icons">touch_app</i>
                </div>
              </div>
            </a>
          </div>
          <div class="laptop-btm">
          </div>
        </div>
      </div>
    </div>
    <div class="project-images-container container2">
      <div class="images-box box3">
        <div class="mobile-side">
          <div class="mobile-screen">
            <img src="./assets/images/projectmobile.png" alt="project">
          </div>
          <div class="mobile-button">
          </div>
        </div>
      </div>
      <div class="images-box box4">
        <div class="tool-logo">
          <div class="text-line">
            <p>L</p>
            <p>A</p>
            <p>R</p>
          </div>
          <div class="text-line">
            <p>A</p>
            <p>V</p>
            <p>E</p>
          </div>
          <div class="text-line">
            <p>L</p>
            <p>V</p>
            <p>U</p>
          </div>
          <div class="text-line">
            <p>E</p>
            <p>J</p>
            <p>S</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
