<div class="landing-page-container">
  <div class="image-content-container">
    <div class="landing-page-image">
      <img src="./assets/images/me.svg" alt="mypic">
      <div class="sololine">
      </div>
    </div>
    <div class="landing-page-content">
      <div class="landing-box-container">
        <div class="landing-box">
          <div class="large-text-name">
            <span class="highlight">RD</span> <br>
            RALP DEXTER
          </div>
          <p class="medium-home-text">Full Stack - Web Developer</p>
          <p class="home-parag">I am Ralp Dexter Bongato, a passionate web developer.
            20-years-old living in a small, but a beautiful country called Philippines.
          </p>
          <div class="big-buttons-container">
            <button routerLink="/projects" type="button" name="button">PORTFOLIO</button>
            <button routerLink="/skills" type="button" name="button">SKILLS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
